.container{ width: 90%;
border: 1px solid;
text-align: right;
background-color:beige;
}
.items{
    border-bottom: 1px solid grey;
}
.text{
    font-weight: bold;
}
.price{
    font-weight: bolder;
    color: rgb(74, 66, 66);
}
.name{
    padding: 5px;
    font-weight: lighter;
}